<h1>Hi there! Welcome. Have a read</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.tweet %>
      <% if user_signed_in? %>
      <p>Posted by: <%= post.user.email %> </p>
      <% else %>
      <p>Posted by: Anonymous</p>
    <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new Post", new_post_path %>